body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.quiz-container {
  background: white;
  padding: 20px;
  max-width: 450px;
  margin: auto;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  width: 100%;
  border: none;
  background: #eee;
  border-radius: 6px;
}

button:hover {
  background: #ddd;
}

.score {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

footer{
  text-align:center;
  padding:14px 10px;
  color:rgba(255,255,255,0.95);
  font-size:0.9rem;
  background:transparent;
}

